body{
    background-image: url("images/the-blowup-fkNj93aU0B8-unsplash-01.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-image: url("1088620-02.jpeg");*/
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
.navbar{
    background: transparent;
    background-color: rgb(50, 49, 49);
    height: 90px;
    width: 99%;
    text-align: right;
    padding-right: 20px;
    /*position: relative;*/
    border-radius: 5px;
    box-shadow:1px 3px 9px 3px;
    position: fixed;
    z-index: 9;
}
.navbar .logo{
    list-style: none;
    text-align: left;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    position: absolute;
    margin: 0px 0px 0px -10px;
    
    font-weight: bolder;
}
.navbar .lists{
    list-style: none;
    padding: 10px;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
    font-size:20px;
    margin-top:5px;
    border-radius: 3px;
    display: inline-block;
    margin-left: 25px;
    background-color: black;
    width:100px;
    text-align: center;
}
.lists:hover{
    box-shadow: 0px 0px 5px 1px white;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    color: white;
    cursor: pointer;
}
.lists::after{
    content: " ";
    display:block;
    position:absolute;
    visibility:hidden;
    background-color:white;
    height: 2px;
    width: 100px;
    transition: 0.3s;
    transform: scaleX(0.02);
}
.lists:hover::after{
    
    transform: scaleX(1);
    visibility: visible;
}
.main{
    height:500px;
    padding-top: 100px;
    position: relative;
    padding-left: 30px;
}

.cats{
    height: 50px;
    width: 100px;
    background: transparent;
    border:3px white solid;
    margin: 50px;
    font-size: 20px;
    color: rgb(223, 211, 211);
    border-radius: 5px;
    box-shadow:1px 3px 9px 3px black;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
.cats:hover{
    color: antiquewhite;
    cursor: pointer;
}
.cats::after{
    content:" ";
    display:block;
    position:absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:black;
    visibility: hidden;
    transition: 0.3s;
    margin-left: -90px;
}
.cats:hover::after{
    visibility:visible;
    margin-left: 0px;
}
h1{
    text-align: center;
    margin-top: -70px;
}
.tomiddle{
    position: absolute;
   /* border: 3px purple solid;*/
    padding-top: 30px;
}
label,input,legend{
    text-align: center;
    margin:20px 0px 0px 10px ;
    font-size: 20px;
    border-radius: 5px;
   /* border: 3px green solid;*/
}
fieldset{
    height: 175px;
    width:330px;
    display:inline-block;
    /*border: 3px blue solid;*/
    margin: 20px 0px 20px 570px;
    border:0px black solid;
    border-radius: 5px;
    box-shadow:1px 3px 9px 3px black;
    transition: 0.3s;
    background: transparent;
    text-align: center;
    padding-top: 20px;
}
fieldset:hover{
    transform: scale(1.02);
    box-shadow:1px 3px 9px 4px black;
}
legend{
    font-size: 25px;
    font-weight: bold;
}
.dropDownList{
    margin: 20px;
    background: transparent;
    border: 3px black solid;
    height: 36px;
    font-size: 20px;
    border-radius: 5px;
}
.lb{
    font-weight: bolder;
    
}
.useless{
    visibility: hidden;
}
.rst,.sbmt{
    height: 50px;
    width: 100px;
    background: transparent;
    border:3px white solid;
    margin: 50px;
    font-size: 20px;
    color: rgb(223, 211, 211);
    border-radius: 5px;
    box-shadow:1px 3px 9px 3px black;
    /*position: relative;
    overflow: hidden;*/
    transition: 0.3s;
}
.rst{
    background-color:rgb(100, 62, 62);   
}
.sbmt{
    background-color: rgb(65, 104, 74);
}
.rst:hover{
    background-color:rgb(188, 88, 88);
    cursor: pointer;
    transform: scale(1.09);
}
.sbmt:hover{
    background-color: rgb(77, 188, 103);
    cursor: pointer;
    transform: scale(1.09);
}
.btns{
    display: inline-block;
    margin-left: 550px;
}
.result{
    /* text-align: center;  */
    position: relative;
    height:300px;
    margin-top: -50px;
    border-radius: 5px;
    box-shadow:1px 3px 9px 3px black;
    transition: 0.3s;
}
.tables{
    margin-top: 20px;
    margin-left: 20%;
    text-align: left;
    position:absolute;
    background-color: white;
    border: 3px white solid;
    border-radius: 3px;
    color: white;
    display: inline-block;
    width:990px;
    box-shadow:1px 3px 9px 3px black;
}
th{
    color:white;
    width: 10%;
    height: 60px;
    background-color: black;
}
tr{
    color:black;
    height: 60px;
    border: 3px white solid;
}
#tH{
    background-color: red;
    width: 100%;
    text-align: center;
}
.formats{
    position:fixed;
    z-index: 9;
    margin-left: 41%;
}
.spacer{
    height: 300px;
    width:auto;
}